.pokemon-main {
  display: flex;
  align-content: stretch;
  padding-top: 1rem;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.pokemon-side {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  
}

@media (min-width: 1024px) {
  .pokemon-main {
    padding-top: 0;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .pokemon-side {
    width: 40%;
    padding: 2rem;
  }
}