.pokemon-details__main-art {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.pokemon-details__main-art__header__text {
  width: 100%;
  margin-bottom: 1rem;
}

.pokemon-details__main-art__header__text__info {
  display: flex;
  align-items: center;
  align-content: baseline;
  justify-content: space-between;
  font-size: .8rem;
  font-weight: bold;
}

.pokemon-details__main-art__header__text__name {
  font-weight: bold;
  font-size: 1.5rem;
}

.pokemon-details__main-art__header__text__info__types {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.pokemon-details__img-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  box-shadow: 0px 0px .5rem;
  border-radius: 1rem;
}



.pokemon-details__img {
  object-fit: contain;
  
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  height: 85%;
}
.pokemon-anchors{
  display: flex;
  justify-content: space-between;
  padding: .5rem .5rem;
}
@media(max-width: 1023px) {
  .pokemon-details__main-art{
    height: 50%;
  }
}

@media(min-width: 1024px) {
  .pokemon-details__main-art {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 100%;

  width: 60%;
  }

  .pokemon-details__img-container {
    justify-content: space-between;
    height: 100%;
  }

}